html,
body {
  padding: 0;
  margin: 0;
}

:root {
  font-family: 'Karla', Arial, Helvetica, sans-serif;
  font-size: 16px;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
  padding: 0;
}

#root {
  display: grid;
  --color-primary-1: #495E57;
  --color-primary-2: #F4CE14;
  --color-secondary-1: #EE9972;
  --color-secondary-2: #FBDABB;
  --color-highlight-1: #EDEFEE;
  --color-highlight-2: #333333;
  --br-large: 16px;
  --br-small: 8px;

  header {
    grid-row: 2/3;
  }

  nav {
    grid-row: 1/2;
  }

  main {
    grid-row: 3/4;
  }

  footer {
    grid-row: 4/5;
  }
}


p,
span {
  font-size: 16px;
  font-weight: 400;
}

.highlight-text {
  font-size: 16px;
  font-weight: 600;
  margin: 0;
}

.card-title {
  font-family: 'Markazi Text', Georgia, 'Times New Roman', Times, serif;
  font-size: 18px;
  font-weight: 700;
  margin: 0;
  max-width: 65em;
}

.cat-bold {
  font-size: 16px;
  font-weight: 1000;
  margin: 0;
}

.section-title {
  font-size: 20px;
  font-weight: 1000;
  text-transform: uppercase;
  margin: 0;
  padding: 0;
  appearance: none;
}

.lead-text {
  font-size: 18px;
  font-weight: 500;
  margin: 0;
  font-style: normal;
  line-height: 90%;
}

.sub-title {
  font-family: 'Markazi Text', Georgia, 'Times New Roman', Times, serif;
  font-size: 40px;
  font-weight: 400;
  line-height: 90%;
  font-style: normal;
  margin: 0;
}

.display-title {
  font-family: 'Markazi Text', Georgia, 'Times New Roman', Times, serif;
  font-size: 64px;
  font-weight: 400;
  line-height: 90%;
  margin: 0;
  font-style: normal;
}

header {
  background-color: var(--color-primary-1);
  padding: 15px;

  h1 {
    color: var(--color-primary-2);
  }

  h2 {
    color: var(--color-highlight-1);
  }

  .lead-text {
    color: var(--color-highlight-1);
    margin: 1rem 0 1rem 0;
  }

  img {
    float: right;
    width: 30vw;
    height: 30vw;
    border-radius: var(--br-large);
    object-fit: cover;
    margin-left: 15px;
    margin-bottom: 15px;
  }
}

@media(max-width: 768px) {
  nav {
    --button-padding: 0.3rem;
    --hamburger-size: 2rem;
    background-image: url("images/🦆 icon _hamburger menu.svg");
    background-position: var(--button-padding) var(--button-padding);
    background-repeat: no-repeat;
    background-size: var(--hamburger-size) var(--hamburger-size);
    padding: var(--button-padding);
    margin: 0;
    width: var(--hamburger-size);
    height: var(--hamburger-size);
    position: relative;

    >ul {
      display: none;

      >li {
        list-style: none;
      }
    }
  }

  nav:hover {
    >ul {
      position: absolute;
      top: 100%;
      left: 0;
      display: flex;
      flex-direction: column;
      flex-wrap: nowrap;
      align-items: start;
      gap: 0.3rem;
      margin: 0;
      padding: var(--button-padding);
      background-color: #FFFFFF;

      >li:first-child {
        display: none;
      }

      >li {
        padding: var(--button-padding);
      }
    }
  }

  main {
    padding: 1rem;

    >section {
      margin: 3rem 0;
    }
    >section:last-child {
      margin-bottom: 0;
    }

    section.this-weeks-specials {
      section.specials {
        display: flex;
        flex-direction: column;
        gap: 1rem;
      }
    }

    section.about {
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 1rem;

      img {
        width: 100%;
        box-shadow: 0 0 1px #333333;
      }
    }
  }

  footer {
    display: none;
  }
}

main {
  article.card {
    --hgap: 1rem;
    display: grid;
    grid-template-columns: var(--br-large) 1fr auto var(--br-large);
    grid-template-rows: var(--br-large) auto var(--hgap) auto var(--hgap) 1fr var(--hgap) auto var(--br-large);
    border-radius: var(--br-large);
    background-color: #EDEFEE;
    gap: 0;

    img.card-image {
      border-top-left-radius: var(--br-large);
      border-top-right-radius: var(--br-large);
      object-fit: cover;
      grid-row: 1/3;
      grid-column: 1/5;
      width: 100%;
      height: 10rem;
      box-shadow: 0 0 1px #333333;
    }

    .card-title {
      grid-row: 4/5;
      grid-column: 2/3;
    }

    .price {
      grid-row: 4/5;
      grid-column: 3/4;
      color: var(--color-secondary-1);
    }

    .card-content {
      grid-row: 6/7;
      grid-column: 2/4;
    }

    .order-button {
      align-items: center;
      grid-row: 8/9;
      grid-column: 2/4;

      >img {
        margin-left: 0.5em;
        width: 1em;
      }
    }
  }

  section.this-weeks-specials {
    display: grid;
    grid-template-columns: 1fr auto;
    align-items: center;

    >.sub-title {
      grid-column: 1/2;
    }

    #online-menu-button {
      grid-column: 2/3;
      justify-self: end;
      width: fit-content;
    }

    section.specials {
      grid-column: 1/3;
    }
  }
}

button {
  appearance: none;
  background-color: var(--color-primary-2);
  color: var(--color-highlight-2);
  border-radius: var(--br-small);
  padding: 0.5rem 1rem;
  border: none;
  cursor: pointer;
}

button:active {
  background-color: var(--color-secondary-1);
}

@media(min-width: 768px) {
  #root {
    display: grid;
    --hpadding: 20vw;
    --vpadding: 1rem;

    header {
      --img-size: 20vw;
      --margin-bottom: 4rem;
      align-content: end;
      padding: var(--vpadding) calc(var(--hpadding) + var(--img-size) + 2rem) var(--vpadding) var(--hpadding);
      grid-row: 2/3;
      position: relative;
      min-height: calc(var(--img-size) - var(--margin-bottom) - var(--vpadding));
      margin-bottom: var(--margin-bottom);

      img {
        position: absolute;
        width: var(--img-size);
        height: var(--img-size);
        top: var(--vpadding);
        right: var(--hpadding);
        border-radius: var(--br-large);
        object-fit: cover;
      }
    }

    nav {
      grid-row: 1/2;
      padding: var(--vpadding) var(--hpadding);

      >ul {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        align-items: center;
        justify-content: space-between;
        gap: 0.3rem;
        margin: 0;
        padding: 0;

        >li {
          list-style: none;
        }
      }
    }

    main {
      grid-row: 3/4;
      padding: 0 var(--hpadding);

      section {
        margin: 3rem 0;
      }

      section.this-weeks-specials {
        section.specials {
          display: grid;
          grid-template-columns: repeat(3, 1fr);
          gap: 2rem;
        }
      }

      section.about {
        display: grid;

        grid-template-columns: 1fr 10vw 10vw 10vw;
        grid-template-rows: 10vw 10vw 10vw;
        gap: 0;

        .description {
          grid-column: 1/2;
          grid-row: 1/4;
          padding: 0 3rem 0 0;
          margin: 0;
        }

        img {
          object-fit: cover;
          width: 20vw;
          height: 20vw;
          box-shadow: 0 0 1px #333333;
        }

        img:nth-of-type(1) {
          grid-column: 3/5;
          grid-row: 1/3;
        }

        img:nth-of-type(2) {
          grid-column: 2/4;
          grid-row: 2/4;
        }

      }
    }

    footer {
      grid-row: 4/5;
      margin-top: 3rem;
      padding: var(--vpadding) var(--hpadding);
      display: grid;
      grid-template-rows: auto 1fr;
      grid-template-columns: auto repeat(3, 1fr);
      gap: 1rem 2rem;
      align-items: start;

      .footer-logo {
        width: 10vw;
        grid-row: 1/3;
      }

      h3 {
        grid-row: 1/2;
      }

      ul {
        grid-row: 2/3;
        padding: 0;
        margin: 0;

        >li {
          list-style: none;
        }
      }
    }
  }
}